.cartitem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background-color: #ddd;
  margin: 15px 0;
  img {
    width: 60%;
  }
  .deletBtn {
    color: red;
    font-size: 20px;
    cursor: pointer;
  }
  @media (max-width: 992px) {
    display: block;
    text-align: center;
    img {
      display: block;
      margin: auto;
      width: 31%;
    }
    div {
      padding: 10px 0;
    }
  }
}
.totalprice {
  padding: 20px 0;
}
.warning {
  color: red;
  text-align: center;
  padding: 20px 0;
  display: block;
}
