footer {
  background-color: $blue-color;
  color: $gold-color;
  padding: 20px 0;
  .container {
    max-width: 1475px;
  }
  .Foot_Card {
    margin: 40px 0;
    margin-bottom: 10px;
    .head {
      font-family: $Header-font;
      font-size: 33px;
      padding: 10px 0;
      font-weight: bold;
    }
    .disc {
      color: #a1a1a1;
      width: 80%;
      font-size: 14px;
    }
    .icons {
      font-size: 20px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 65%;
      margin-top: 12px;
      a {
        font-size: 25px;
        color: white;
      }
    }
  }
  .details {
    margin-top: 5px;
  }
  .title {
    font-size: 27px;
    padding: 10px 0;
    font-weight: bold;
  }
  p {
    display: block;
    padding: 5px 0;
    color: #a1a1a1;
    font-size: 15px;
    a {
      color: #a1a1a1;
      font-weight: lighter;
    }
  }
  Button {
    margin: 10px 0;
  }
}
